/*Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* Variables */
body {
  background: linear-gradient(135deg, #1a1a2e, #000000);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  cursor: pointer;
}

/*Responsive */
@media only screen and (max-width: 600px) {
  .responsive {
    display: none;
  }
}
/*Hacer un mixing de background
 * background-image: url("http://www.impawards.com/2025/posters/ballerina_ver2.jpg")
 * background-size: cover
 * background-repeat: no-repeat */
@keyframes background-lights-right {
  0% {
    background-position: 150% 0%;
  }
  100% {
    background-position: -50% 50%;
  }
}
@keyframes background-lights-left {
  0% {
    background-position: -50% 0%;
  }
  100% {
    background-position: 150% 50%;
  }
}
.carousel {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 95%;
  padding: 30px 15px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

/*Fixed */
.vidrio {
  background: rgba(15, 15, 15, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px);
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 56px;
  padding: 0 5px;
  position: sticky;
  top: 0;
  z-index: 2;
  /*Responsive */
}
nav .responsive-pc {
  display: none;
}
nav .responsive-tablet {
  display: none;
}
nav i {
  font-size: 20px;
  margin: 0 8px;
  cursor: pointer;
}
nav .nav-izquierda {
  width: 250px;
}
nav .nav-izquierda img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
nav .nav-derecha {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
nav .nav-derecha button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  align-self: center;
  padding: 6px;
  background-color: #ff0000;
}
@media only screen and (min-width: 768px) {
  nav .responsive-tablet {
    display: flex;
    color: #ff0000;
  }
}
@media only screen and (min-width: 992px) {
  nav nav {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 3;
  }
  nav .responsive-pc {
    display: flex;
  }
  nav .nav-centro {
    gap: 30px;
  }
  nav .nav-centro a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  nav .nav-centro a:hover {
    color: #ffd900;
  }
  nav .nav-derecha .responsive-pc {
    display: none;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  min-height: 90vh;
  background: linear-gradient(15deg, rgb(0, 0, 34) 0%, rgb(26, 10, 39) 45%, rgb(74, 20, 74) 50%, rgb(26, 10, 39) 55%, rgb(0, 0, 34) 100%);
}

.div-header {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30% 70%;
}
.div-header img {
  width: 100%;
}
.div-header .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-direction: column;
}
.div-header .titulo .div-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}
.div-header .titulo .div-botones button {
  color: #ffffff;
  font-size: large;
  font-weight: 500;
  line-height: normal;
  border: 1px solid white;
  border-radius: 6px;
  background: linear-gradient(25deg, rgba(255, 255, 255, 0.5) 15%, rgba(240, 240, 240, 0.3) 35%, rgba(255, 255, 255, 0.1) 70%);
  padding: 8px 7px;
}

@media only screen and (max-width: 600px) {
  header {
    /*Crear el mixing background-image */
    background-image: url("./images/header-poster-ballerina.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
  }
  .responsive-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: row;
  }
  .responsive-header .titulo {
    max-width: 60%;
    padding-bottom: 5px;
  }
  .responsive-header .titulo img {
    max-width: 90%;
  }
  .responsive-header .imagen {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 902px) {
  .div-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column-reverse;
  }
  .div-header .titulo {
    position: absolute;
    bottom: 0;
  }
  .div-header .titulo img {
    max-width: 40%;
  }
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  min-height: 120vh;
  padding: 5px;
}
section h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
section p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.alinear-texto {
  text-align: center;
  width: 100%;
}

.cartelera {
  align-items: none;
  justify-content: none;
  text-align: center;
}

.pelicula-cartelera {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  border: solid 1px #353942;
  border-radius: 12px;
  width: 256px;
  transition: all 0.6s ease-in;
  flex-wrap: nowrap;
}
.pelicula-cartelera .poster {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  border: none;
  border-radius: 12px 12px 0 0;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 2px 6px;
}
.pelicula-cartelera .poster h3 {
  font-size: 28px;
  text-align: left;
}
.pelicula-cartelera .poster p {
  font-size: 14px;
}

.pelicula-cartelera:nth-child(1) .poster {
  background-image: url("http://www.impawards.com/2025/posters/ballerina_ver2.jpg");
}

.pelicula-cartelera:nth-child(2) .poster {
  background-image: url("https://m.media-amazon.com/images/M/MV5BY2E5YjE2YTQtZGIxYi00YTU4LTk3YzItYmMyZTM3M2I5ZTM3XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg");
}

.pelicula-cartelera:nth-child(3) .poster {
  background-image: url("https://diamondfilms.com/img/poster/67d1cd737f8c552719b436371.jpg");
}

.pelicula-cartelera:nth-child(4) .poster {
  background-image: url("https://noticiasdeaqui.co/wp-content/uploads/2024/11/img_8539-1.jpg?w=720");
}

.pelicula-cartelera:nth-child(5) .poster {
  background-image: url("https://m.media-amazon.com/images/M/MV5BMTlmNDRiZjgtNmYxNi00NTc3LWFlNzEtNzE0ZGQ1ODdlMDQ5XkEyXkFqcGc@._V1_.jpg");
}

.pelicula-cartelera:hover {
  transform: scale(1.05);
}

.descripcion-pelicula {
  border: none;
  border-radius: 0 0 12px 12px;
  background-color: #10171f;
}
.descripcion-pelicula div {
  display: flex;
  justify-content: center;
  align-items: auto;
  gap: 10px;
  flex-direction: column;
}
.descripcion-pelicula div p {
  color: #d1d5db;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 6px 0 0 11px;
  text-align: left;
}
.descripcion-pelicula div button {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 7px;
  margin: 0 12px 10px;
  background-color: #ff0000;
}

.pelicula-cartelera:hover {
  box-shadow: 0px 0px 12px 6px rgba(255, 0, 0, 0.48);
}
.pelicula-cartelera:hover .descripcion-pelicula {
  background: linear-gradient(90deg, rgb(16, 23, 31) 35%, rgba(255, 215, 0, 0.6) 50%, rgb(16, 23, 31) 65%);
  background-size: 200% 100%;
  animation: background-lights-right 1s ease-in-out;
  background-position: -50% -50%;
}

.pelicula-cartelera:not(hover) .descripcion-pelicula {
  background: linear-gradient(90deg, rgb(16, 23, 31) 35%, rgba(255, 215, 0, 0.6) 50%, rgb(16, 23, 31) 65%);
  background-size: 200% 100%;
  animation: background-lights-left 1s ease-in-out;
  background-position: 150% 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (max-width: 600px) {
  .pelicula-cartelera {
    width: 205px;
  }
  .poster {
    border: none;
    border-radius: 12px;
    background-size: contain;
    height: 300px;
  }
  .descripcion-pelicula {
    display: none;
  }
}
.experiencia button {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  padding: 10px 12px;
  margin-top: 8px;
  background-color: rgb(37, 99, 235);
  box-shadow: 0 0 4px 2px rgba(59, 130, 246, 0.5);
}

.contenido-club-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  /*Responsive */
}
.contenido-club-section .div-boxes .box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
  width: 80%;
}
.contenido-club-section .div-form {
  padding: 0 20px;
}
.contenido-club-section .div-form h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.contenido-club-section form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}
.contenido-club-section form input {
  color: #c3c8d3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: solid 1px #353942;
  border-radius: 6px;
  background-color: rgba(55, 65, 81, 0.5019607843);
  padding: 8px 0px;
  width: 100%;
}
.contenido-club-section form input:focus {
  outline: thick double rgba(255, 0, 0, 0.4);
}
.contenido-club-section form button {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  padding: 8px 0;
  margin-top: 8px;
  background-color: #ff0000;
  box-shadow: rgba(255, 0, 0, 0.4) 0px 0px 20px, rgba(255, 0, 0, 0.3) 0px 0px 40px, rgba(255, 0, 0, 0.2) 0px 0px 60px;
  width: 100%;
}
.contenido-club-section form small {
  color: #c3c8d3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media only screen and (min-width: 992px) {
  .contenido-club-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 2;
  }
}

.div-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding: 0 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  border: solid 1px #353942;
  border-radius: 12px;
  padding: 24px 30px;
  height: 78%;
  width: 80%;
  transition: transform 0.5s ease;
}
.box h2 {
  color: none;
  font-size: 30px;
  font-weight: 0;
  line-height: 36px;
}
.box h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.box p {
  color: #d1d5db;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.box span {
  color: #ffd900;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.box button {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  padding: 8px 0;
  margin-top: 8px;
  background-color: #ff0000;
  width: 100%;
}
.box div {
  display: flex;
  justify-content: center;
  align-items: start-flex;
  gap: 20px;
  flex-direction: column;
}
.box div p {
  color: #d1d5db;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.box div ul {
  padding-left: 18px;
}
.box div ul li {
  color: #ffd900;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.box div ul li::marker {
  font-size: 18px;
}

/*opciones del background de box */
.box-background-gray {
  background: linear-gradient(90deg, rgba(31, 41, 55, 0.5019607843) 0%, rgba(16, 21, 27, 0.4) 50%, rgba(31, 41, 55, 0.5019607843) 100%);
}

.box-efectos:hover {
  background: linear-gradient(90deg, rgba(31, 41, 55, 0.5019607843) 35%, rgba(255, 215, 0, 0.6) 50%, rgba(31, 41, 55, 0.5019607843) 65%);
  background-size: 200% 100%;
  animation: background-lights-right 1s ease-in-out;
  background-position: -50% -50%;
  box-shadow: 0px 0px 12px 6px rgba(255, 0, 0, 0.48);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.box-background-red {
  background-color: rgba(21, 21, 29, 0.8);
}

.box-efectos-red:hover {
  background: linear-gradient(90deg, rgba(21, 21, 29, 0.8) 35%, rgba(255, 215, 0, 0.6) 50%, rgba(21, 21, 29, 0.8) 65%);
  background-size: 200% 100%;
  animation: background-lights-right 1s ease-in-out;
  background-position: -50% -50%;
  box-shadow: 0px 0px 12px 6px rgba(255, 0, 0, 0.48);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* No se
 * .box-efectos:not(hover)
 *  @include background-lights(false, #1F293780) */
/*Responsive */
@media only screen and (min-width: 768px) {
  .div-boxes {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 2;
  }
  .grid-de-tres {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 3;
  }
}
@media only screen and (min-width: 1100px) {
  .grid-de-cuatro .div-boxes {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 4;
  }
}

.contenido-snack-bar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 0 10px;
  width: 97%;
  flex-direction: column-reverse;
}

.div-opciones-snacks {
  display: none;
}

.opciones-snacks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  border: solid 1px #353942;
  border-radius: 6px;
  background-color: #1a232c;
  padding: 6px 6px 10px;
  width: 97%;
}
.opciones-snacks .snacks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-direction: column;
  border: none;
  border-radius: 6px;
  white-space: nowrap;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}
.opciones-snacks p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.opciones-snacks .snack-select {
  background: #ca8a04;
  box-shadow: 0px 4px 2px 0px rgba(241, 197, 41, 0.78);
}
.opciones-snacks .snack-select p {
  color: black;
}

.imagen-snacks {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
  border: none;
  border-radius: 6px;
  background-image: url("https://www.latinol.com/media/contenido/images/palomitas-cine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 97%;
  min-height: 60vh;
  box-shadow: 0px 0px 12px 6px rgba(255, 0, 0, 0.48);
  padding: 0 0 12px 12px;
}
.imagen-snacks .titulo-imagen-snacks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  flex-direction: row;
}
.imagen-snacks .titulo-imagen-snacks div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 12px;
  background: #ca8a04;
  border-radius: 50%;
}
.imagen-snacks .titulo-imagen-snacks h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}

.menu {
  width: 97%;
}
.menu .div-opcion-menu {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 2;
  padding-left: 6px;
  gap: 6px;
}
.menu .div-opcion-menu .opcion-menu {
  border: solid 1px #ca8a04;
  border-radius: 6px;
  background-color: rgba(26, 15, 13, 0.9);
  padding: 12px;
  cursor: pointer;
}
.menu .div-opcion-menu .opcion-menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.menu .div-opcion-menu .opcion-menu div h4 {
  color: #ffd900;
}
.menu .div-opcion-menu .opcion-menu p {
  color: #c3c8d3;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.menu-descripcion-flex {
  display: none;
}

/*Responsive */
@media only screen and (min-width: 768px) {
  .menu-descripcion-flex {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .contenido-snack-bar-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 70% 30%;
  }
  .contenido-snack-bar-section .responsive {
    display: none;
  }
  .responsive-snacks {
    display: none;
  }
  .div-opciones-snacks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border: solid 1px #353942;
    border-radius: 12px;
    background-color: #13161d;
    height: 100%;
  }
  .div-opciones-snacks h3 {
    color: #ffd900;
  }
  .div-opciones-snacks p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }
  .opciones-snacks {
    flex-direction: column;
    background-color: transparent;
    border: none;
    gap: 24px;
    color: #ffd900;
  }
  .opciones-snacks .snacks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    flex-direction: row;
    width: 90%;
    background-color: #242c37;
    box-shadow: none;
    border: solid 1px #67717f;
    padding: 10px;
    border-radius: 8px;
  }
  .opciones-snacks .snack-select {
    background: #ca8a04;
  }
  .imagen-snacks {
    height: 70vh;
  }
}
.oportunidades-comerciales .div-boxes .box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}
.oportunidades-comerciales .div-boxes .box h3 {
  color: #ffd900;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: -15px;
}
.oportunidades-comerciales .div-boxes .box ul {
  padding-left: 18px;
}
.oportunidades-comerciales .div-boxes .box ul li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.oportunidades-comerciales .div-boxes .box ul li::marker {
  color: #ff0000;
  font-size: 18px;
}

footer {
  border-top: solid 1px #8b3232;
  /*Responsive */
}
footer .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
  padding: 20px 20px;
}
footer .info div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
}
footer .info div p {
  color: #c3c8d3;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
footer .info div a {
  color: #c3c8d3;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
footer .info div h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}
footer .info div form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}
footer .info div form input {
  color: #c3c8d3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: solid 1px #353942;
  border-radius: 6px;
  background-color: rgba(55, 65, 81, 0.5019607843);
  padding: 8px 0px;
  width: 100%;
}
footer .info div form input:focus {
  outline: thick double rgba(255, 0, 0, 0.4);
}
footer .info div form button {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  padding: 8px 0;
  margin-top: 8px;
  background-color: #ff0000;
  box-shadow: 0 0 10px 6px rgba(255, 0, 0, 0.5);
  width: 100%;
}
footer .derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 15px;
  border-top: solid 1px #353942;
  padding: 20px 20px;
}
footer .derechos div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}
footer .derechos p {
  color: #c3c8d3;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
footer .derechos a {
  color: #c3c8d3;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (min-width: 768px) {
  footer .info {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 2;
    gap: 10px;
  }
  footer .derechos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  footer .info {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 4;
  }
}/*# sourceMappingURL=styles.css.map */