@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')
  
*
  padding: 0
  margin: 0

/* Variables
$color-principal: #ff0000
$color-secundario: #004080
$color-acento: #ffd900
$color-texto: #ffffff
$color-background: #101727
$color-box-shadow-hover: 0px 0px 12px 6px rgba(255,0,0,0.48)

$box-background-gray: linear-gradient(90deg, #1F293780 0%, rgba(16, 21, 27, 0.4) 50%, #1F293780 100%)

body
  background-color: $color-background
  color: $color-texto
  font-family: 'Roboto', sans-serif

a
  text-decoration: none
  color: $color-texto

/*Responsive
@media only screen and (max-width: 600px)
  .responsive
    display: none