@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')
  
*
  padding: 0
  margin: 0

/* Variables
$color-principal: #ff0000
$color-secundario: #004080
$color-acento: #ffd900
$color-texto: #ffffff
$color-background: #101727
$color-box-shadow-hover: 0px 0px 12px 6px rgba(255,0,0,0.48)

body
  background: linear-gradient(135deg, #1a1a2e, #000000)
  color: $color-texto
  font-family: 'Roboto', sans-serif
  overflow-x: hidden

a
  text-decoration: none
  color: $color-texto

button
  cursor: pointer

/*Responsive
@media only screen and (max-width: 600px)
  .responsive
    display: none