@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')
  
*
  padding: 0
  margin: 0

/* Variables
$color-principal: #ff0000
$color-secundario: #004080
$color-acento: #ffd900
$color-texto: #ffffff
$color-background: #101727

body
  background-color: $color-background
  color: $color-texto
  padding: 5px
  font-family: 'Roboto', sans-serif

a
  text-decoration: none
  color: $color-texto

/*Responsive
@media only screen and (max-width: 600px)
  .responsive
    display: none