header
  @include flex

  div
    background-image: url("http://www.impawards.com/2025/posters/ballerina_ver2.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100vw