/*Hacer un mixing de background
  background-image: url("http://www.impawards.com/2025/posters/ballerina_ver2.jpg")
  background-size: cover
  background-repeat: no-repeat
  
@mixin flex($justify-flex: center, $align-flex: center, $gap: 0, $direction: row)
  display: flex
  justify-content: $justify-flex
  align-items: $align-flex
  gap: $gap
  flex-direction: $direction

@mixin grid($iguales: true, $grid-columns: 2, $aling-grid: center, $justify-grid: center)
  display: grid
  align-items: $aling-grid
  justify-content: $justify-grid
  @if $iguales == true
    grid-template-columns: repeat($grid-columns, 1fr)
  @else
  grid-template-columns: $grid-columns

@mixin letras($color: $color-texto, $tamano-letra: 12px, $grosor-letra: 400, $linea: normal)
  color: $color
  font-size: $tamano-letra
  font-weight: $grosor-letra
  line-height: $linea

@mixin bordes($border: solid 1px #353942, $border-radius: 12px)
  border: $border
  border-radius: $border-radius

@mixin background-lights($right: true, $background-color-light: rgba(16, 23, 31, 1))
  background: linear-gradient(90deg, $background-color-light 35%, rgba(255, 215, 0, 0.6) 50%, $background-color-light 65%)
  @if $right == true
    background-size: 200% 100%
    animation: background-lights-right 1s ease-in-out
    background-position: -50% -50%
  @else 
    background-size: 200% 100%
    animation: background-lights-left 1s ease-in-out
    background-position: 150% 100%
  
@mixin box-styles($box-background: $box-background-gray, $box-padding: 24px 30px)
  @include bordes
  padding: $box-padding
  background: $box-background
    