@mixin flex($justificacion: center, $alineacion: center, $gap: 0, $direccion: row)
  display: flex
  justify-content: $justificacion
  align-items: $alineacion
  gap: $gap
  flex-direction: $direccion

@mixin estilos($color: $color-texto, $tamano-letra: 12px, $padding: 0, $margin: 0)
  color: $color
  font-size: $tamano-letra
  padding: $padding
  margin: $margin

